.header {
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(106, 106, 124, 0.1);
}
.header nav {
  display: flex;
  gap: 15rem;
}

.list {
  display: flex;
  gap: 1rem;
}

.list a {
  text-decoration: none;
  color: var(--color-primary-400);
}

.list a:hover,
.list a.active {
  color: var(--color-primary-800);
}
.end {
  display: flex;
  justify-content: flex-end;
}
